[user]
  name =
  email =
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autosquash = true
  autostash = true
[github]
  user =
[rerere]
  enabled = true
[core]
  excludesfile = ~/.gitignore_global
[commit]
  template = ~/.gitmessage
[color]
  ui = true
